.btn {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    &.btn-primary {
        font-size: calculateRem(20px);
        color: var(--color-cream-white);
        background-color: var(--color-green-primary);
        border: none;
    }
}