.btn {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: calculateRem(20px);
    @include media-breakpoint-down(xs) {
        font-size: 1rem;
    }
    &.btn-primary {
        color: var(--color-cream-white);
        background-color: var(--color-green-primary);
        border: none;
    }

    &.btn-secondary {
        color: var(--color-green-primary);
        background-color: var(--color-cream-white);
        border: none;
    }
}

a.btn {
    text-decoration: none;
}