.btn {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: calculateRem(24px);
    font-weight: bold;


    &.btn-primary {
        color: var(--color-blue-accent);
        background-color: var(--color-blue-white);
        border: none;
        box-shadow: none;
        transform: translateY(0);
        transition: all 300ms ease-in-out;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 8px 10px 24px -6px rgba(15,14,15,1);
            transition: all 300ms ease-in-out;
        }
    }

    &.btn-secondary {
        color: var(--color-blue-accent);
        background-color: var(--color-blue-white);
        border: none;
        box-shadow: none;
        transform: translateY(0);
        transition: all 300ms ease-in-out;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 8px 10px 24px -6px rgba(15,14,15,1);
            transition: all 300ms ease-in-out;
        }
    }
}

a.btn {
    text-decoration: none;
}

.close {
    background-color: transparent;
    border: none;
    position: absolute;
    width: calculateRem(32px);
    height: calculateRem(32px);
    top: 2rem;
    right: 2rem;

    .line {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color-cream-white);

        &:first-child {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(145deg);
        }

        &:last-child {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-145deg);
        }
    }
}