.map-section {
    height: 100%;
    position: relative;
    &:before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/img/flower.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent linear-gradient(124deg, #192A57 0%, #2050701A 100%) 0% 0% no-repeat padding-box;
    
    }
    .map-container {
        padding-top: calculateRem(140px);
        padding-bottom: calculateRem(32px);
        position: relative;
        z-index: 10;
        @include media-breakpoint-down(sm) {
            padding-top: calculateRem(32px);
        }
    }

    .location-container {
        display: inline-flex;
        flex-direction: column;
        &:not(:first-child) {
            margin-top: calculateRem(32px);
        }
        .location-title {
            color: var(--color-blue-white);
            font-weight: bold;
            font-size: calculateRem(48px);
            margin-bottom: calculateRem(20px);
            @include media-breakpoint-down(sm) {
                font-size: calculateRem(32px);
            }
            
        }
        .location-detail {
            color: var(--color-blue-white);
            font-weight: normal;
            font-size: calculateRem(24px);
            margin-bottom: 1rem;
            @include media-breakpoint-down(sm) {
                font-size: calculateRem(20px);
            }
        }

        .btn {
            margin-top: auto;
        }
    }

    .info-map-window {
        span {
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

    .map-wrapper {
        min-height: calculateRem(320px);
        @include media-breakpoint-down(sm) {
            margin-top: calculateRem(32px);
        }
        > div {
            width: calc(100%)!important;
            @include media-breakpoint-down(sm) {
                width: calc(100% - 24px)!important;
            }
        }
    }
}

.cta-map {
    margin-top: 2rem;
    text-align: right;
}