.header-top {
    position: sticky;
    z-index: 15;
    top: 0;
    backdrop-filter: blur(10px);
    padding: calculateRem(28px) 0;
    box-shadow: none;
    transition: box-shadow 300ms ease-in-out;
    &.on-scroll {
        box-shadow: 8px 10px 24px -6px rgba(15,14,15,1);
        transition: box-shadow 300ms ease-in-out;
            
    }

    

    @include media-breakpoint-down(md) {
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent linear-gradient(118deg, #192A57E6 0%, #120D2B4F 100%) 0% 0% no-repeat padding-box;
            top: 0;
            left: 0;
        }

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #cbcbcb;
            opacity: 0.9;
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 1rem 0;
    }

    .logo-wrapper {
        img {
            @include media-breakpoint-down(xs) {
                max-width: calculateRem(60px);
            }
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }
}