.nav-top {
    display: flex;
    justify-content: flex-end;

    .nav-list {
        list-style: none;
        display: flex;
        margin-left: calculateRem(-28px);
        margin-right: calculateRem(-28px);

        .nav-list-item {
            font-weight: normal;
            font-size: calculateRem(28px);
            color: var(--color-cream-white);
            padding-left: calculateRem(28px);
            padding-right: calculateRem(28px);
            cursor: pointer;

            &.is-active {
                span {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        height: 1px;
                        background-color: var(--color-cream-white);
                        bottom: -0.5rem;
                        left: 0;
                        animation: widthAnimation 400ms ease-in-out forwards;
                    }
                }
            }

            &:hover:not(.is-active) {
                span {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        height: 1px;
                        background-color: var(--color-cream-white);
                        bottom: -0.5rem;
                        left: 0;
                        animation: widthAnimation 400ms ease-in-out forwards;
                    }
                }
            }
        }

        &.desktop {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        &.mobile {
            display: none;
            margin: 0;

            @include media-breakpoint-down(sm) {
                display: flex;
                align-items: center;
            }

            .hamburger-menu {
                width: 32px;
                height: 28px;
                padding: 0;
                position: relative;

                .btn-hamburger {
                    position: relative;
                    background-color: transparent;
                    border: none;
                    width: calculateRem(32px);
                    height: calculateRem(28px);
                    cursor: pointer;

                    .line {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 2px;
                        background-color: var(--color-cream-white);

                        &:nth-child(1) {
                            top: 0;
                            width: 100%;
                        }

                        &:nth-child(2) {
                            top: calculateRem(10px);
                            width: 60%;
                        }

                        &:nth-child(3) {
                            top: calculateRem(20px);
                            width: 80%;
                        }
                    }
                }
            }

            .full-hamburger-menu {
                @include media-breakpoint-down(sm) {
                    position: fixed;
                    width: 100vw;
                    height: 100vh;
                    background-color: var(--color-blue-primary);
                    top: 0;
                    right: 0;
                    transition: all 400ms ease-in-out;
                    max-width: 0;
                    overflow: hidden;
                    &.is-active {
                        max-width: 1000px;
                        transition: all 400ms ease-in-out;
                    }
                }
            }
        }
    }
}

.menu-mobile {
    list-style: none;
    margin-top: 30vh;
    .nav-list-item {
        margin: calculateRem(24px) 0;
        text-align: center;
    }
}