:root {
    --color-black: #342D2D;
    --color-cream-white: #F0F3BD;
    --color-green-primary: #00A896;
    --color-blue-primary: #05668D;
    --color-gradient-primary: #192A57;
    --color-gradient-secondary: #120D2B;
    --color-blue-white: #E6ECFF;
    --color-blue-accent: #205070;
}