@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes backdropAnimation {
    0% {
        backdrop-filter: blur(10px);
    }

    100% {
        backdrop-filter: blur(0);
    }
}